body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
}
:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}
/* header  */

.page-header {
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-iris);
}
.black-logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-navy-blue);
}

.site-nav {
}

.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-navy-blue);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: underline;
  color: var(--color-ocean);
}
.header-adress {
  font-style: normal;
  text-decoration: none;
}
.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.contacts:hover,
.contacts:focus {
  color: var(--color-ocean);
}

/* section 1 */
.first-section {
  background-color: var(--color-grey);
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.btn {
  background-color: var(--color-iris);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
}
.btn:hover,
.btn:focus {
  background-color: var(--color-ocean);
  cursor: pointer;
}

.site-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  background: var(--color-cloud);
  cursor: pointer;
}
.site-btn:hover,
.site-btn:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}

.title-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  background-color: var(--color-white);
}

/* section 2 */
.second-section {
}
.title-hidden {
}
.title-page {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.info-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
/* section 3 */
/* section 4 */
.team {
  background-color: var(--color-cloud);
  color: var(--color-grey);
}

.section-img {
  background-color: #ffffff;
}
/* footer */
.footer {
  background-color: var(--color-navy-blue);
}

.white-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17x;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  text-decoration: none;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* 
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
